<h2 mat-dialog-title *ngIf="isEditMode">Edit Device Model</h2>
<h2 mat-dialog-title *ngIf="!isEditMode">Create Device Model</h2>
<mat-dialog-content>
  <form [formGroup]="deviceModelForm">
    <div class="is-flex is-flex-direction-column">
      <mat-form-field>
        <mat-label for="name">DeviceModel Name:</mat-label>
        <input matInput id="name" formControlName="name"/>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="serialNumber">DeviceModel SerialNumber:</mat-label>
        <input matInput id="serialNumber" formControlName="serialNumber" />
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="saveChangesDialog()">Guardar</button>
</mat-dialog-actions>
