<h2 mat-dialog-title>{{ isEditMode ? 'Edit Device' : 'Create Device' }}</h2>

<mat-dialog-content>
  <form [formGroup]="deviceMeasurementForm" (ngSubmit)="onSubmit()">
    <div>
      <mat-form-field>
        <mat-label for="device">Device:</mat-label>
        <mat-select formControlName="deviceId" id="deviceId">
          <mat-option *ngFor="let device of devices" [value]="device.deviceId">{{ device.deviceModel.name
            }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label for="measurementName">Name:</mat-label>
        <input matInput type="text" formControlName="measurementName" id="measurementName">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label for="units">Units:</mat-label>
        <input matInput type="text" formControlName="units" id="units">
      </mat-form-field>
    </div>
    <div>
      <mat-form-field>
        <mat-label for="measurementType">Measurement Type:</mat-label>
        <mat-select formControlName="measurementTypeId" id="measurementTypeId">
          <mat-option *ngFor="let type of measurementTypes" [value]="type.measurementTypeId">{{ type.typeName
            }}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button (click)="onSubmit()" [disabled]="!deviceMeasurementForm.valid">Save</button>
</mat-dialog-actions>