<h2 mat-dialog-title>Crear Nuevo Modelo de Dispositivo</h2>
<mat-dialog-content>
  <form>
    <mat-form-field>
      <input matInput placeholder="Nombre" [(ngModel)]="createDeviceModelRequest.name" name="name" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="Número de Serie" [(ngModel)]="createDeviceModelRequest.serialNumber" name="serialNumber" required>
    </mat-form-field>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancelar</button>
  <button mat-button (click)="postCreateDeviceModelRequest()">Guardar</button>
</mat-dialog-actions>
