<div class="table-container">
  <table mat-table [dataSource]="tableData" matSort>
    <!-- Name Column -->
    <ng-container matColumnDef="modelName">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DeviceModel Name: </th>
      <td mat-cell *matCellDef="let deviceModel"> {{deviceModel.name}} </td>
    </ng-container>

    <!-- Code Column -->
    <ng-container matColumnDef="serialNumber">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> DeviceModel SerialNumber:</th>
      <td mat-cell *matCellDef="let deviceModel"> {{deviceModel.serialNumber}} </td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef> Actions </th>
      <td mat-cell *matCellDef="let deviceModel">
        <button mat-icon-button color="primary" (click)="editDeviceModel(deviceModel)">
          <mat-icon>edit</mat-icon>
        </button>
        <button mat-icon-button color="warn" (click)="deleteDeviceModel(deviceModel)">
          <mat-icon>delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25]" showFirstLastButtons></mat-paginator>
  <button mat-fab color="primary" aria-label="Add" (click)="addDeviceModel()">
    <mat-icon>add</mat-icon>
  </button>
</div>
